services:
  path-overlay-debug:
    build: .
    network_mode: host
    environment:
      - REITTI_URL=http://192.168.79.2:8030
      - REITTI_API_TOKEN=${REITTI_API_TOKEN}
    volumes:
      - ./output:/output
    command: python path_overlay.py